@model MIS4200Team4.Models.userDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>userDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nomination.RecognitionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nomination.RecognitionId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserProfile.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserProfile.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numberOfNominations)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numberOfNominations)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.userDetailID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
